<md-content class="md-padding" layout="column">
	<md-card>
		<md-card-title>
			<md-card-title-media>
				<div class="md-media-lg card-media" layout-padding>
					<img ng-src="{{user.profile.picture}}" alt="profile-picture">
				</div>
				<md-card-actions layout="column" layout-align="end center">
					<md-button ng-click="user.getMessage()">Get Message</md-button>
					<md-button ng-click="user.getSecretMessage()">Get Secret Message</md-button>
				</md-card-actions>
			</md-card-title-media>
			<md-card-title-text>
				<span class="md-headline">{{ user.profile.nickname }} </span>
				<span class="subhead"> {{user.profile.email}} </span>
				<h3>{{ user.message}}</h3>
			</md-card-title-text>
		</md-card-title>
	</md-card>
</md-content>

<form class="add-beer" ng-submit='home.createBeer()'>
      <div>
        <label for="beer-name">Name:</label>
        <input type="text" id="beer-name" ng-model="home.newBeer.brand" placeholder="brand">
      </div>
      <div>
        <label for="newBeer-kind">Kind:</label>
        <input type="text" id="newBeer-kind" ng-model="home.newBeer.kind" placeholder="description">
      </div>
      <div>
        <label for="newBeer-style">Style:</label>
        <input type="text" id="newBeer-style" ng-model="home.newBeer.style" placeholder="style">
      <div>
       <div>
        <label for="newBeer-image">Image:</label>
        <input type="text" id="newBeer-image" ng-model="home.newBeer.image" placeholder="style">
      <div>
        <input type="submit" value="Add Beer">
      </div>
    </form>
